.selected {
    outline: 2px solid currentColor;
    border-radius: 0.375rem;
    box-shadow: 0 0 0.5rem currentColor;
}

.selected.L1-voltage {
    outline: 2px solid var(--L1-voltage-color);
    box-shadow: 0 0 0.5rem var(--L1-voltage-color);
}
.selected.L1-current {
    outline: 2px solid var(--L1-current-color);
    box-shadow: 0 0 0.5rem var(--L1-current-color);
}
.selected.L2-voltage {
    outline: 2px solid var(--L2-voltage-color);
    box-shadow: 0 0 0.5rem var(--L2-voltage-color);
}
.selected.L2-current {
    outline: 2px solid var(--L2-current-color); 
    box-shadow: 0 0 0.5rem var(--L2-current-color);
}
.selected.L3-voltage {
    outline: 2px solid var(--L3-voltage-color);
    box-shadow: 0 0 0.5rem var(--L3-voltage-color);
}
.selected.L3-current {
    outline: 2px solid var(--L3-current-color);
    box-shadow: 0 0 0.5rem var(--L3-current-color);
}

.highlighted {
    position: relative;
    font-weight: bold;
    color: inherit;
}

.highlighted::before {
    content: '';
    position: absolute;
    border: 1px solid currentColor;
    border-radius: 0.25em;
    pointer-events: none;
    box-sizing: border-box;
    box-shadow: 0 0 0.5rem currentColor;
}

.highlighted.btn::before {
    border: inherit !important;
    box-shadow: 0 0 0.5rem var(--bs-btn-color) !important;
    left: 0px; top: 0px; right: 0px; bottom: 0px;
}

.highlighted:not(.btn)::before {
    left: -2px; top: -1px; right: -5px; bottom: -1px;
}

/* #phaseDisplay.highlighted::before {
    left: -10px; top: 0px; right: -5px; bottom: -1px;
} */

#THDDisplay.highlighted::before {
    left: 41px; top: 0px; right: 5px; bottom: -1px;
}

:root {
    --L1-voltage-color: hsl(0, 100%, 90%);
    --L1-current-color: hsl(0, 100%, 60%);

    /* --L2-voltage-color: hsl(0, 0%, 80%); */
    /* --L2-current-color: hsl(0, 0%, 60%); */

    --L2-voltage-color: hsl(60, 100%, 90%);
    --L2-current-color: hsl(60, 100%, 60%);

    --L3-voltage-color: hsl(220, 100%, 90%);
    --L3-current-color: hsl(220, 100%, 60%);
}

.text-L1-voltage {
    color: var(--L1-voltage-color);
}
.text-L1-current {
    color: var(--L1-current-color);
}
.text-L2-voltage {
    color: var(--L2-voltage-color);
}
.text-L2-current {
    color: var(--L2-current-color);
}
.text-L3-voltage {
    color: var(--L3-voltage-color);
}
.text-L3-current {
    color: var(--L3-current-color);
}

.bg-L1 {
    background-color: color-mix(in srgb, var(--L1-current-color) 20%, black 80%);
}
.bg-L2 {
    background-color: color-mix(in srgb, var(--L2-current-color) 20%, black 80%);
}
.bg-L3 {
    background-color: color-mix(in srgb, var(--L3-current-color) 20%, black 80%);
}

.btn-outline-L1-voltage {
    --bs-btn-color: var(--L1-voltage-color);
    --bs-btn-border-color: var(--L1-voltage-color);
    --bs-btn-hover-bg: var(--L1-voltage-color);
    --bs-btn-hover-border-color: var(--L1-voltage-color);
    --bs-btn-active-bg: var(--L1-voltage-color);
    --bs-btn-active-border-color: var(--L1-voltage-color);
    --bs-btn-disabled-color: var(--L1-voltage-color);
    --bs-btn-disabled-border-color: var(--L1-voltage-color);
}
.btn-outline-L1-current {
    --bs-btn-color: var(--L1-current-color);
    --bs-btn-border-color: var(--L1-current-color);
    --bs-btn-hover-bg: var(--L1-current-color);
    --bs-btn-hover-border-color: var(--L1-current-color);
    --bs-btn-active-bg: var(--L1-current-color);
    --bs-btn-active-border-color: var(--L1-current-color);
    --bs-btn-disabled-color: var(--L1-current-color);
    --bs-btn-disabled-border-color: var(--L1-current-color);
}
.btn-outline-L2-voltage {
    --bs-btn-color: var(--L2-voltage-color);
    --bs-btn-border-color: var(--L2-voltage-color);
    --bs-btn-hover-bg: var(--L2-voltage-color);
    --bs-btn-hover-border-color: var(--L2-voltage-color);
    --bs-btn-active-bg: var(--L2-voltage-color);
    --bs-btn-active-border-color: var(--L2-voltage-color);
    --bs-btn-disabled-color: var(--L2-voltage-color);
    --bs-btn-disabled-border-color: var(--L2-voltage-color);
}
.btn-outline-L2-current {
    --bs-btn-color: var(--L2-current-color);
    --bs-btn-border-color: var(--L2-current-color);
    --bs-btn-hover-bg: var(--L2-current-color);
    --bs-btn-hover-border-color: var(--L2-current-color);
    --bs-btn-active-bg: var(--L2-current-color);
    --bs-btn-active-border-color: var(--L2-current-color);
    --bs-btn-disabled-color: var(--L2-current-color);
    --bs-btn-disabled-border-color: var(--L2-current-color);
}
.btn-outline-L3-voltage {
    --bs-btn-color: var(--L3-voltage-color);
    --bs-btn-border-color: var(--L3-voltage-color);
    --bs-btn-hover-bg: var(--L3-voltage-color);
    --bs-btn-hover-border-color: var(--L3-voltage-color);
    --bs-btn-active-bg: var(--L3-voltage-color);
    --bs-btn-active-border-color: var(--L3-voltage-color);
    --bs-btn-disabled-color: var(--L3-voltage-color);
    --bs-btn-disabled-border-color: var(--L3-voltage-color);
}
.btn-outline-L3-current {
    --bs-btn-color: var(--L3-current-color);
    --bs-btn-border-color: var(--L3-current-color);
    --bs-btn-hover-bg: var(--L3-current-color);
    --bs-btn-hover-border-color: var(--L3-current-color);
    --bs-btn-active-bg: var(--L3-current-color);
    --bs-btn-active-border-color: var(--L3-current-color);
    --bs-btn-disabled-color: var(--L3-current-color);
    --bs-btn-disabled-border-color: var(--L3-current-color);
}